<%- include("partials/header");  %>
  <div class="container">
    <h1>Hello, <%= name %>
    </h1>
    <br/>
    <ul>
      <% fruits.forEach((fruit)=>{ %>
        <!--You use de = sign in order to render-->
        <li><%= fruit.name %>: <%= fruit.qty %></li>
      <% });%>
    </ul>
  </div>

  <%- include("partials/footer");  %>
